#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.app__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}